@using BlazorServerSamples.Web.Links

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Blazor Server Samples</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@Parasha.Index">
				<i class="@Parasha.Icon" aria-hidden="true"></i>@Parasha.Title
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@SmartEnums.Index">
				<i class="@SmartEnums.Icon" aria-hidden="true"></i>@SmartEnums.Title
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@About.Index">
				<i class="@About.Icon" aria-hidden="true"></i>@About.Title
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@CascadingValue.Index">
				<i class="@CascadingValue.Icon" aria-hidden="true"></i>@CascadingValue.Title
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@Unobtrusive.Index">
				<i class="@Unobtrusive.Icon" aria-hidden="true"></i>@Unobtrusive.Title
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@Sitemap.Index">
				<i class="@Sitemap.Icon" aria-hidden="true"></i>@Sitemap.Title
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@BlazedFvSingle.Index">
				<i class="@BlazedFvSingle.Icon" aria-hidden="true"></i>@BlazedFvSingle.SubTitle
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@BlazedFvMulti.Index">
				<i class="@BlazedFvMulti.Icon" aria-hidden="true"></i>@BlazedFvMulti.SubTitle
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/EventHandler">
				<i class="bi bi-lightning" aria-hidden="true"></i>Event Handler
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/ToDoSortJson">
				<i class="bi bi-sort-alpha-down" aria-hidden="true"></i>ToDo Sort Json
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link px-3" @onclick="()=>expandSubNavEventCallback = !expandSubNavEventCallback">
				<span class="oi oi-list-rich" aria-hidden="true"></span> EventCallback
			</NavLink>
			@if (expandSubNavEventCallback)
			{
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="/EventCallback/PasswordParent">
						<i class="bi bi-emoji-smile" aria-hidden="true"></i>Password Parent
					</NavLink>
				</div>

				<div class="nav-item px-3">
					<NavLink class="nav-link" href="/EventCallback/RenderFragmentParent">
						<i class="bi bi-emoji-smile" aria-hidden="true"></i>RenderFragment Parent
					</NavLink>
				</div>
			}
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link px-3" @onclick="()=>expandSubNavNotYetDone = !expandSubNavNotYetDone">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Not Done Yet
			</NavLink>
			@if (expandSubNavNotYetDone)
			{
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="/Dropdown">
						<i class="bi bi-menu-app" aria-hidden="true"></i>Dropdown
					</NavLink>
				</div>

				<div class="nav-item px-3">
					<NavLink class="nav-link" href="/Links">
						<i class="bi bi-emoji-smile" aria-hidden="true"></i>Links
					</NavLink>
				</div>
			}
		</div>

	</nav>
</div>

@code {
	private bool collapseNavMenu = true;
	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	private bool expandSubNavEventCallback;
	private bool expandSubNavNotYetDone;

	private bool expandSubNavInline;
}
