@using BlazorServerSamples.Web.Settings
@using Microsoft.Extensions.Options

@inject IOptions<AppSettings> AppSettings
@inject IOptions<SampleDataFiles> SampleDataFiles
	
	<div class="card bg-warning my-2">
		<div class="card-header py-1">AppSettings</div>
		<div class="card-body my-1 pl-1 py-0">
			<ul class="">
				<li class="">Company: @AppSettings.Value.Company</li>
				<li class="">SiteTitle: @AppSettings.Value.SiteTitle</li>
				<li class="">SiteTitle: @AppSettings.Value.SiteShortTitle</li>
				<li class="">BaseUrl: @AppSettings.Value.BaseUrl</li>
			</ul>
		</div>
	</div>

	<div class="card bg-warning">
		<div class="card-header py-1">SampleDataFiles</div>
		<div class="card-body my-1 pl-1 py-0">
			<ul class="">
				<li class="">ToDoItems: @SampleDataFiles.Value.ToDoItems</li>
			</ul>
		</div>
	</div>

@code {

}
