
<div class="card mt-5 @CardCss">
	<div class="card-header h3 px-2">
		<span class='badge @HeaderBadgeColor pb-15'>@Title</span>

		<button @onclick="@(e => ToggleButtonClick(IsCollapsed))"
						class="btn-primary btn-sm float-end">
			@ButtonText <i class='@ButtonChevron'></i>
		</button>

	</div>

</div>

@if (!IsCollapsed)
{
  <ParashotTable IsXsOrSm="@IsXsOrSm" BookId="@BookId"></ParashotTable>
}