@page "/MultiEditForm"
@using BlazorServerSamples.Web.SmartEnums
@using Page = BlazorServerSamples.Web.Links.MultiEditForm
<PageTitle>@Page.Title</PageTitle>

<div class="pb-2 mt-4 mb-2 border-bottom">
	<h2><i class="@Page.Icon"></i> @Page.Title</h2>
</div>

<ShabbatWeekChooser OnShabbatWeekIdChosenCallback=ShabbatWeekIdChosenCallback />

@if (DatabaseInformation)
{
	<p class="text-info">@DatabaseInformationMsg</p>
}

@if (ShahbatWeekSelected)
{

	<LoadingComponent IsLoading="AddEditFormVMList==null ">

		@foreach (var item in AddEditFormVMList!)
		{
			<div class="row">
				<div class="col-md-4">

					<a href="https://www.youtube.com/watch?v=@item.YouTubeId" target="_blank" title="@item.YouTubeId | @item.Title">
						<img src='https://img.youtube.com/vi/@item.YouTubeId/mqdefault.jpg'
						 class='m-1 img-fluid border border-3' />

						<br><small>@item.YouTubeId</small>
					</a>

				</div>
				<div class="col-md-8">
					<WeeklyVideoAddEditForm vm=@item
															OnWeeklyVideoInsertedCallback=WeeklyVideoInsertedCallback>
					</WeeklyVideoAddEditForm>
				</div>
			</div>
		}
	</LoadingComponent>

}


@if (ShahbatWeekSelected)
{
	<h5 class="mt-5 text-center">Videos Previously Added</h5>
	<TableTemplate Items="VideosPreviouslyAdded">
		<TableHeader>
			<th class="text-info">Id</th>
			<th class="text-primary">Shabbat Week (Id)</th>
			<th class="text-primary">Weekly Video Type (Id)</th>
			<th class="text-primary">YouTube Id</th>
			<th class="text-danger">Delete</th>
		</TableHeader>
		<RowTemplate>
			<td>@context.Id</td>
			<td>@context.ShabbatDate.ToShortDateString() (@context.ShabbatWeekId)</td>
			<td>@context.WeeklyVideoTypeDescr (@context.WeeklyVideoTypeId)</td>
			<td>@context.YouTubeId</td>
			<td class="text-danger" @onclick=@(() => DeleteClick(@context.Id)) >
				<i class="bi bi-trash"></i>
			</td>
		</RowTemplate>
	</TableTemplate>

@*
	<p class="mt-1">
		<code>IX_WeeklyVideo_Unique: ShabbatWeekId ASC,	WeeklyVideoTypeId ASC</code>
	</p>
	<hr />
*@
}

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}

<DesignNotes IsDesignCollapsed=true></DesignNotes>

<BackHomeButton />