@using BlazorServerSamples.Web.SmartEnums

<EditForm Model="@vm" OnValidSubmit="@SubmitValidForm"
					class="card card-body bg-light my-2">
	<FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="@true" />
	<ValidationSummary />

	<input type="hidden" id="youTubeId" name="YouTubeId" value="@vm.YouTubeId">
	<input type="hidden" id="shabbatWeekId" name="ShabbatWeekId" value="@vm.ShabbatWeekId">

	<div class="form-group row">
		<label for="title" class="col-md-3 col-form-label">Title:</label>
		<div class="col-md-9">
			<InputText id="title" class="form-control" @bind-Value="vm.Title" />
			<ValidationMessage For="@(() => vm.Title)" />
		</div>
	</div>

	<div class="form-group row">
		<label for="type" class="col-md-3 col-form-label">Type</label>
		<div class="col-md-9">
			<InputSelect id="type" @bind-Value="vm.WeeklyVideoTypeId" class="form-control">
				<option value="0">--Select Video Type--</option>
				@foreach (var item in WeeklyVideoType.List.ToList())
				{
					<option value="@item.Value">@item.Name</option>
				}
			</InputSelect>
			<ValidationMessage For="@(() => vm.WeeklyVideoTypeId)" />
		</div>

	</div>

	<div class="row col-12 my-2">
		<div class="form-group">
			<button type="submit">
				<i class="bi bi-file-plus"></i> Save
			</button>
		</div>
	</div>

</EditForm>

@*
<div class="row col-12 my-2">
	<div class="form-group">
		<button class="btn btn-warning btn-md" @onclick=@(() => ClickPartialValidate("Select")) title="Partial validation for Select only">
			<i class="bi bi-check"></i> Validate 1
		</button>
		<button class="btn btn-warning btn-md" @onclick=@(() => ClickPartialValidate("TitleOnly")) title="Partial validation for Title only">
			<i class="bi bi-check"></i> Validate 2
		</button>
	</div>
</div>
*@

@if (DatabaseError)
{
	<p class="text-danger"><em>@DatabaseErrorMsg</em></p>
}
else
{
	if (DatabaseWarning)
	{
		<p class="text-warning">@DatabaseWarningMsg</p>
	}
}